body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.login-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left-box {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #25252d;
  color: #fff;
}

.right-box {
  flex: 1;
  padding: 6rem;
}
.right-box h2 {
  margin-bottom: 2rem;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 8px;
  font-weight: bold;
}
.password-container {
  position: relative;
}
input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding-right: 40px; /* Adjusted padding for the eye icon */
}
.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.eye-icon svg {
  height: 20px;
  width: 20px;
  fill: #ccc; /* Adjusted fill color for the eye icon */
}

.login-button {
  padding: 10px;
  background-color: #25252d;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #25252d;
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
}

#password {
  position: relative;
}
